scoop bucket add extras
scoop bucket add nerd-fonts

scoop install nu
scoop install 7zip
scoop install bat
scoop install bottom
scoop install fd
scoop install fzf
scoop install jetbrainsmono-nf
scoop install lazydocker
scoop install lazygit
scoop install neovim
scoop install nu
scoop install openssl
scoop install ripgrep
scoop install sd
scoop install sed
scoop install starship
scoop install xh
scoop install zoxide
scoop install gcc
scoop install jq

scoop update -A
