[user]
	name = {{ .name }}
	email = {{ .email }}
[push]
	default = simple
	autoSetupRemote = true
[core]
	autocrlf = input
	filemode = false
[alias]
	ls = log --pretty=format:'%C(yellow)%h %C(red)%d %C(cyan)[%an] %C(reset)%s'
	ll = log --pretty=format:'%C(yellow)%h %C(red)%d %C(cyan)[%an] %C(reset)%s' --numstat
	graph = log --graph --all --pretty=format:'[%C(yellow)%h%C(red)%d%C(reset)][%C(cyan)%an%C(reset)] %s'
	last = log -1 HEAD
	st = status -s
	aliases = config --get-regex alias
	cm = commit -m
	aa = add -A
	can = commit --amend --no-edit
	lo = log --oneline
	sa = stash --include-untracked
[merge]
	conflictstyle = diff3
[pull]
	twohead = ort
